.styles_icon__1EYk4 {
	display: inline-flex;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	min-width: 24px;
	min-height: 24px;
}

.styles_blue-500__3LTmD path[fill] {
	fill: var(--blue-500);
}
.styles_brown-500___RZri path[fill] {
	fill: var(--brown-500);
}
.styles_green-500__2u3g9 path[fill] {
	fill: var(--green-500);
}
.styles_green-600__37BbP path[fill] {
	fill: var(--green-600);
}
.styles_purple-500__1dgU9 path[fill] {
	fill: var(--purple-500);
}
.styles_red-500__1eXDW path[fill] {
	fill: var(--red-500);
}
.styles_yellow-500__RxzsI path[fill] {
	fill: var(--yellow-500);
}
.styles_black-100__2X0v2 path[fill] {
	fill: var(--black-100);
}
.styles_black-200__3zZ9L path[fill] {
	fill: var(--black-200);
}
.styles_black-300__26Q6x path[fill] {
	fill: var(--black-300);
}
.styles_black-400__2dKPc path[fill] {
	fill: var(--black-400);
}
.styles_black-500__PTRAB path[fill] {
	fill: var(--black-500);
}
.styles_black-600__1E40N path[fill] {
	fill: var(--black-600);
}
.styles_black-700__6-YKE path[fill] {
	fill: var(--black-700);
}
